<% # Clients of this partial must supply the following variables:
   # panes - a hash in the format :pane_name => render_hash
%>

<% panes.stringify_keys! %>

<% content_for :nav do %>
  <ul id="console-nav" class="nav nav-pills nav-stacked">
    <% first_pane = true %>
    <% panes.keys.each do |name| %>
    <li data-pane="<%= name.underscore %>" <% if first_pane %>class="active"<% end %>><a href="#<%= name.underscore %>"><%= name.humanize %></a></li>
    <% first_pane = false %>
    <% end %>
  </ul>
<% end %>

<div id="console" class="console">
  <div id="console-header" class="header"></div>

  <div id="console-body" class="body">
    <div id="local-alerts">
      <%= render :partial => 'shared/local_alerts' %>
    </div>

    <% first_pane = true %>
    <% panes.each do |name, render_hash| %>
    <div id="console-pane-<%= name.underscore %>" class="pane<% if first_pane %> active<% end %>">
      <%= render render_hash %>
    </div>
    <% first_pane = false %>
    <% end %>
  </div>
</div>
