<% # Clients of this partial must supply the following variables:
   # application_class - the class of application to search for
%>

<div class="span16">
  <p><%= link_to "New #{application_class.name}", new_polymorphic_path([:admin, application_class]), style: 'float:right' %></p>

  <table class="std-list-1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Callback url</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @applications.each do |application| %>
        <% next unless application_class.where(:application_id => application.id).first %>
        <tr id="<%= "#{application_class.name.downcase}_#{application.id}" %>">
          <td><%= link_to application.name, polymorphic_path([:admin, application]) %></td>
          <td><%= application.redirect_uri %></td>
          <td><%= link_to('Edit', edit_polymorphic_path([:admin, application])) %></td>
          <td><%= link_to('Remove', polymorphic_path([:admin, application]), :data => { :confirm => "Are you sure you want to remove #{application.name}?" }, :method => :delete) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
