<%# Copyright 2011-2013 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% account_bar_classes = yield :account_bar_class %>

<div id="account-bar-frame" class="<%= account_bar_classes %>" >
  <div id="account-bar-content">

    <div id="account-bar-links">
      <% if true %>
        <%= link_to "Join now", "#", :class => "#{account_bar_classes}" %> 
        <%= vertical_bar(:id => "account-bar-vertical-bar", :class => "#{account_bar_classes}") %>
        <%= link_to "Sign in", "#", :class => "#{account_bar_classes}" %>
      <% end %>

      <%= link_to "http://www.facebook.com/openstax", :id => "facebook-link" do %>
        <%= image_tag("fb_round_#{icon_color}.png", :class => "facebook-icon") %>
      <% end %>
      <%= link_to "http://www.twitter.com/openstax", :id => "twitter-link" do %>
        <%= image_tag("twitter_round_#{icon_color}.png", :class => "twitter-icon") %>
      <% end %>
    </div>

  </div>
</div>