<%# Copyright 2011-2013 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<div id="top-nav-frame" class="<%= yield :top_nav_class %>">
  <div id="top-nav-content">

    <div id="top-nav-logo">
      <a href="<%= main_app.root_path %>" id="top-nav-logo-link"></a>
    </div>

    <div id="top-nav-links">
      <ul>
        <li>
          <%= render "layouts/application_top_nav_link", 
                     target_text:            "ABOUT",
                     target_id:              "top-nav-about-link",
                     target_path:            main_app.about_path,
                     target_current_symbol:  :top_nav_about_current %>
        </li>
        <li>
          <%= render "layouts/application_top_nav_link", 
                     target_text:            "API",
                     target_id:              "top-nav-api-link",
                     target_path:            main_app.api_path,
                     target_current_symbol:  :top_nav_api_current %>
        </li>
        <li>
          <%= render "layouts/application_top_nav_link", 
                     target_text:            "DATA",
                     target_id:              "top-nav-api-link",
                     target_path:            main_app.data_path,
                     target_current_symbol:  :top_nav_api_current %>
        </li>
        <li>
          <% if current_user.is_anonymous? %>
            <%= render "layouts/application_top_nav_link", 
                       target_text:            "SIGN IN",
                       target_id:              "top-nav-account-link",
                       target_path:            openstax_accounts.login_path,
                       target_current_symbol:  :top_nav_account_current %>
          <% else %>
            <%= link_to openstax_accounts.logout_path, method: :delete do %>
              <span id="top-nav-account-link" class="top-nav-link <%= yield :top_nav_account_current %>">
                SIGN OUT
              </span>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>

  </div>
</div>
